* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    height: 65vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.362);

}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent, black);
    z-index: 5;
}

header img {
    width: 100vw;
    height: 65vh;
    object-fit: cover;
    z-index: -5;
}

.nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    color: white;
    animation: slideIn 0.5s ease forwards;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.711);
    z-index: 99999;
}

.mode {
    overflow: hidden;
    position: absolute;
    left: 50vw;
    cursor: pointer;
}

.mode span {
    overflow: hidden;
}

.logo {
    color: rgb(172, 55, 55);
    text-shadow: 1px 1px 1px whitesmoke;
    display: flex;
    flex-direction: row;
}

.head {
    background-color: black;
    text-decoration: line-through;
}

.car-head {
    color: aliceblue;
    margin-bottom: 15px;
}

.option {
    width: 35vw;
}

.option ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.option ul li a {
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.option ul li a span {
    overflow: hidden;
}

.option a:hover {
    color: rgb(173, 31, 31);
    text-decoration: underline;
}

.heading {
    position: absolute;
    color: rgb(173, 31, 31);
    margin-top: 25vh;
    font-size: 4rem;
    margin-left: 2.5vw;
}

.heading h1 {
    font-size: 6rem;
    font-weight: 600;
    color: rgb(173, 31, 31);
}

.car-head {
    text-align: center;
    margin-top: 25px;
}

.first {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.types .card {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    position: relative;
    width: 20vw;
    height: 20vw;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 2px solid black;
}

.types .card img {
    width: 100%;
    max-height: 10vw;
    padding-top: 1vw;
    object-fit: cover;
    overflow: hidden;
}

.types .card img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.types .card h2 {
    text-align: center;
    font-size: 1vw;
    background-color: transparent;
    padding: 0.5rem 1rem;
    font-weight: 200;
}

.types .card .name {
    border: 1px solid black;
    font-weight: 600;
    background-color: grey;
}

.point li {
    cursor: pointer;
}

.point li:hover {
    color: rgb(172, 55, 55);
}

.recom {
    width: 80vw;
    height: 65vh;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    overflow: hidden;
    display: flex;
}

.recom img {
    height: 70vh;
    width: 30vw;
}

.data {
    padding: 1rem;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.data .hed {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.data .hed h4 {
    font-size: 1.5vw;
    font-weight: 400;
}

.data h1 {
    font-size: 2vw;
    display: flex;
    align-items: center;
    flex: 6;
}

.data p {
    font-size: 1vw;
}

.came {
    font-size: 6vw;
}

.nenu{
    position: absolute;
    right: 5vw;
    display: none;
}

.data button {
    margin-left: auto;
    margin-right: auto;
    width: 13vw;
    flex: 2;
    font-weight: 700;
    font-size: 1.5vw;
    border-radius: 2rem;
    overflow: hidden;
    animation: buy 1s linear infinite;
}

@keyframes buy {
    0% {
        background: linear-gradient(40deg, red, #ae4444)
    }

    12% {
        background: linear-gradient(80deg, red, #801818)
    }

    24% {
        background: linear-gradient(120deg, red, #801818)
    }

    36% {
        background: linear-gradient(160deg, red, #801818)
    }

    48% {
        background: linear-gradient(200deg, red, #801818)
    }

    60% {
        background: linear-gradient(240deg, red, #801818)
    }

    72% {
        background: linear-gradient(280deg, red, #801818)
    }

    84% {
        background: linear-gradient(320deg, red, #801818)
    }

    100% {
        background: linear-gradient(360deg, red, #801818)
    }
}



.data h2 {
    font-size: 3vw;
    flex: 4;

}

.data p {
    flex: 4;
}

@media screen and (max-width : 962px) {
    .data p {
        flex: 5;
    }

    .came {
        flex: 2;
    }
}

footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-top: 3px solid black;
}

.footer {
    background-color: transparent;
    margin-bottom: 20px;
    text-align: center;

}

.footer a {
    color: rgb(173, 31, 31);
    text-decoration: none;
}

.newsletter {
    margin-top: 20px;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(173, 31, 31);
    color: #fff;
    cursor: pointer;
    animation: button 1s linear infinite;
}

.newsletter button:hover {
    background-color: #e60000;
}

@keyframes button {
    0% {
        background: linear-gradient(40deg, #00bdff, #0079ff)
    }

    12% {
        background: linear-gradient(80deg, #00bdff, #0079ff)
    }

    24% {
        background: linear-gradient(120deg, #00bdff, #0079ff)
    }

    36% {
        background: linear-gradient(160deg, #00bdff, #0079ff)
    }

    48% {
        background: linear-gradient(200deg, #00bdff, #0079ff)
    }

    60% {
        background: linear-gradient(240deg, #00bdff, #0079ff)
    }

    72% {
        background: linear-gradient(280deg, #00bdff, #0079ff)
    }

    84% {
        background: linear-gradient(320deg, #00bdff, #0079ff)
    }

    100% {
        background: linear-gradient(360deg, #00bdff, #0079ff)
    }
}

.upper {
    padding: 1rem;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.upper img {
    width: 15vw;
    height: 25vh;
    object-fit: cover;
}

.log {
    color: white;
    display: flex;
    flex-direction: column;
}

.branch {
    width: 16vw;
}


.branch a {
    text-decoration: none;
    font-size: 1rem;
}

.contact li {
    text-decoration: none;
    font-size: 1rem;
}



@media screen and (max-width: 700px) {
    .heading {
        position: absolute;
        margin-top: 45vw;
        font-size: 6vh;
        margin-left: 2.5vw;
    }

    .heading h1 {
        font-size: 8vh;
        font-weight: 600;
        color: rgb(173, 31, 31);
    }

}


@media screen and (min-width: 730px) {
    .head {
        overflow: hidden;
    }

    .types {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow: auto;
        height: 60vh;
    }

    .types .card h2 {
        font-size: 1.5vw;
        padding: 0px 2vw;
        border-radius: 0;
        border-top-right-radius: 1vw;
    }

    .types::-webkit-scrollbar {
        display: none;
    }


}

@media screen and (max-width: 618px) {
    .upper {
        flex-direction: column;
        align-items: center;
    }

    .upper img {
        width: 25vh
    }

    .branch {
        display: none;
    }

    .contact {
        display: none;
    }
}

@media screen and (max-width: 873px) {
    .nav ul {
        display: none;
    }

    .nav .nenu {
        color: white;
        display: inline-block;
        font-size: 5vh;
        float: right;
        overflow: hidden;
    }
}

@media screen and (max-width:560px) {
    .recom {
        flex-direction: column;
    }

    .recom img {
        width: 90%;
        height: 80vw;
    }

    .recom .data {
        width: 90%;
        height: 80%;
    }

    .reccom img{
        margin-left: auto;
        margin-right: auto;
    }

    .data .hed h4 {
        font-size: 1vh;
    }

    .data h1 {
        font-size: 4vh;
    }

    .data p {
        font-size: 1.5vh;
    }
}

@media screen and (max-width:400px) {
    .nav h1{
        font-size: 2rem;
    }
}