*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-color: black;
    color: white;
}

header{
    color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
} 

header::before {
    content: '';
    position: absolute;
    /* width: 100%;
    height: 100%; */
    background-image: url('assests/img/yellow-sport-car-with-black-autotuning-road.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    z-index: -1;
}

.nav .option .menu{
    display:none;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent, black);
    z-index: -1;
}

header video {
    position: absolute;
    width: 130%;
    height: 180%;
    top: -41%;
    z-index: -1;
}

.head h2{
    color: rgb(244, 199, 3);
    font-size: 2.5rem;
    font-weight: 800;
}

.head{
    overflow: hidden;
    text-decoration: underline;
    color: rgb(244, 199, 3);
}

.nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    animation: slideIn 0.5s ease forwards;
    border-bottom: 1px solid white;
    background-color: black;
    z-index: 999999;
}

ul li a span{
    overflow: hidden;
}

.logo{
    padding-left: 1vw;
    color: rgb(172, 55, 55);
    display: flex;
    flex-direction: row;
}

.option{
    width: 35vw;
}

.option ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.option ul li a{
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.option a:hover{
    color: rgb(173, 31, 31);
    text-decoration: underline;
}

.heading{
    position: absolute;
    margin-top: 25vh;
    font-size: 4rem;
    margin-left: 2.5vw;
}

.heading h1{
    font-size: 6rem;
    font-weight: 600;
    color:rgb(173, 31, 31);
}

.first{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slide-container {
    position: relative; 
    width: 100%;
    max-width: 800px; 
    height: 70vh; 
    overflow: hidden;
}

.image-slider {
    display: flex;
    transition: 1s;
}

.slide {
    flex: 0 0 100%; 
    width: 60vw;
    overflow: hidden;
    text-align: center; 
    padding: 20px; 
    box-sizing: border-box; 
    object-fit: cover;
}

.slide img {
    max-width: 100%;
    height: 60vh;
    border-radius: 2rem;
    object-fit: cover;
    border: 1px solid white;
    width: 50vw;
}


.left{
    width: 10vw;
    height: 10vh;
    background-color: transparent;
    overflow: hidden;
    border-radius: 50%;
}

.left span{
    color: rgb(173, 31, 31);
    font-size: 4rem;
    overflow: hidden;
}

.right{
    width: 10vw;
    height: 10vh;
    font-size: 1rem;
    background-color: transparent;
    overflow: hidden;
    border-radius: 50%;
}

.right span{
    color: rgb(173, 31, 31);
    font-size: 4rem;
    overflow: hidden;
}



.btn{
    height: 20vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.types{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.types .card{
    cursor: pointer;
    position: relative;
    width: 30vw;
    height: 20vw;
    border-radius: 0.5rem;
    overflow: hidden;
}

.types .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.types .card img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.types .card h2{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    font-size: 1rem;
    background-color: rgb(173, 31, 31);
    color: black;
    padding: 0.5rem 1rem;
    font-weight: 800;
    border-radius: 0;
    border-top-right-radius: 0.5rem;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.parts{
    width: 45vw;
    height: 60vh;
    border-radius: 2rem;
    overflow:hidden;
}

.parts img{
    position: absolute;
    left: auto;
    bottom: auto;
    height: 60vh;
    width: 45vw;
    object-fit: cover;
    overflow: hidden;
    border-radius: 2rem;
}

.parts2{
    z-index: 3;
    border:1px solid white;
}

.parts1, .parts3{
    width: 20vw;
    height: 40vh;
    overflow: hidden;
}

.parts1 img{
    width: 20vw;
    height: 40vh;
    border-top-right-radius:0%;
    border-bottom-right-radius: 0%;
}

.parts3 img{
    z-index: 1;
    width: 20vw;
    height: 40vh;
    border-top-left-radius:0%;
    border-bottom-left-radius: 0%;
}

.blogs{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-image: url("assests/img/Background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.post{
    display: none;
}

.post4{
    display: block;
}

.blogs .posts{
    position: absolute;
    left: 0;
}

.blogs .profile{
    position: absolute;
}

.blogs .profile img{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid black;
}

.blogs .box{
    width: 60vw;
    height: 60vh;
    overflow: hidden;
    color: black;
    border: 3px solid black;
    border-radius: 2rem;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZrqxbuqofjvDLz3UahULB2BLx-rmxcRcdIA&usqp=CAU");
}

.box p{
    font-weight: 600;
    margin-top: 17vw;
    margin-left: 5vw;
    font-family: 'Titillium Web', sans-serif;
}

footer{
    display: flex;
    background-color: transparent;
    flex-direction: column;
}

.footer {
    background-color: transparent;
    text-align: center;
    margin-bottom: 20px;
  
}

.footer a {
    color: rgb(173, 31, 31);
    text-decoration: none;
}

.newsletter {
    margin-top: 20px;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.mode{
    overflow: hidden;
    position: absolute;
    left: 50vw;
    cursor: pointer;
}

.mode span{
    overflow: hidden;
}

.newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(173, 31, 31);
    color: #fff;
    cursor: pointer;
    animation: button 1s linear infinite;
}

.newsletter button:hover {
    background-color: #e60000;
}

@keyframes button {
    0% {
        background: linear-gradient(40deg, #00bdff, #0079ff)
    }

    12% {
        background: linear-gradient(80deg, #00bdff, #0079ff)
    }

    24% {
        background: linear-gradient(120deg, #00bdff, #0079ff)
    }

    36% {
        background: linear-gradient(160deg, #00bdff, #0079ff)
    }

    48% {
        background: linear-gradient(200deg, #00bdff, #0079ff)
    }

    60% {
        background: linear-gradient(240deg, #00bdff, #0079ff)
    }

    72% {
        background: linear-gradient(280deg, #00bdff, #0079ff)
    }

    84% {
        background: linear-gradient(320deg, #00bdff, #0079ff)
    }

    100% {
        background: linear-gradient(360deg, #00bdff, #0079ff)
    }
}

.nenu{
    position: absolute;
    right: 5vw;
    display: none;
}

.upper{
    padding: 1rem;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.upper img{
    width: 15vw;
    height: 25vh;
    object-fit: cover;
}

.log{
    display: flex;
    flex-direction: column;
}


.branch{
    width: 16vw;
}


.branch a{
    text-decoration: none;
    font-size: 1rem;
}

.branch a:hover{
    color: rgb(172, 55, 55);
    text-decoration: underline;
}

.branch h2{
    font-size: 1.5rem;
}

.contact li{
    text-decoration: none;
    font-size: 1rem;
}

.contact a{
    text-decoration: none;
    font-size: 1rem;
}

.contact a:hover{
    color: rgb(172, 55, 55);
    text-decoration: underline;
}

body::-webkit-scrollbar {
    background-color: grey;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 0, 0.433);
    width: 4px;
    border-radius: 5px;
}


video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    cursor: url("wing.png"), auto;
    z-index: 0;
}

.point li{
    cursor: pointer;
}

.point li:hover{
    color:rgb(172, 55, 55);
}



.head{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left:auto;
    padding-right: auto;
    border-top: 5px solid black;
}

.rust{
    border-bottom: 5px solid black;
}

@media screen and (max-width: 830px) {
    .rust{
        display: none;
        background-color: #e60000;
    }
    .posts{
        width: 20vh;
    }
    .box{
        width: 20vh;
    }
}

@media screen and (max-width: 700px) {
    .heading{
        position: absolute;
        margin-top: 45vw;
        font-size: 6vh;
        margin-left: 2.5vw;
    }
    
    .heading h1{
        font-size: 8vh;
        font-weight: 600;
        color:rgb(173, 31, 31);
    }
    
}


@media screen and (max-width: 730px) {
    .head{
        overflow: hidden;
    }
    .types {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: auto; 
        height: 80vh; 
    }
    .types .card h2{
        font-size: 2vw;
        padding: 0px 2vw;
        border-radius: 0;
        border-top-right-radius: 1vw;
    }

    .types .card{
        width: 40vw;
        height: 25vh;
    }

    .types::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (max-width: 618px) {
    .upper{
        flex-direction: column;
        align-items: center;
    }

    .upper img{
        width: 25vh
    }

    .branch{
        display: none;
    }

    .contact{
        display: none;
    }
}

@media screen and (max-width: 873px){
    .nav ul{
        display:none;
    }
    .nav .nenu{
        color: white;
        display: inline-block;
        font-size: 5vh;
        float: right;
        overflow: hidden;
    }
}

@media screen and (max-width: 580px) {
    .posts{
        width: 6rem;
        height: 10vh;
    }
    .box{
        font-size: 3vw;
    }
}

.nav h1{
    font-size: 2rem;
}
}
